::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222426; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 105, 105); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(108, 105, 105); 
  }

.navbar {
    margin: 10px;
    padding: 10px;
}

.nav_item {
    display: grid;
    margin-left: auto;
    margin-right: 100px;
    background: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(108, 105, 105);
}

.nav_item:hover {
    color: black;    
    cursor: pointer;
}

.nav_title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(108, 105, 105);
    width: 150px;
    margin-left: 100px;
}

.nav_title:hover {
    color: black;
    cursor: pointer;
}

#about {
    margin-top: -30px;
    margin-right: 200px;
}

#contact {
    margin-top: -20px;
    margin-right: 125px;
}

.main_title {
    margin-top: 100px;
    color: white;
    font-size: 30px;
    text-align: center;    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.main_hr {
    margin-top: 50px;
    max-width: 550px;
}

.switcher {
    width: 50px;
    height: 50px;
    background-image: url('../assets/switcher_black.png');
    display: grid;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -34px;
}

.switcher:hover {
    cursor: pointer;
}

#white_switch {
    width: 50px;
    height: 50px;
    background-image: url('../assets/switcher_white.png');
    margin-right: 50px;
    margin-top: -35px;
}

#black_switch {
    width: 50px;
    height: 50px;
    background-image: url('../assets/switcher_black.png');
    margin-right: 50px;
    margin-top: -50px;
    visibility: hidden;
}

#github {
    margin-left: 125px;
}

#linkedin {
    margin-left: 25px;
}

.name_item:hover {
    cursor: pointer;
}

.about {
    margin-top: 150px;
}

.about_title {
    color: white;
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.about_description {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    line-height: 25px;
}

.skills_title {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.skills_description {
    margin-top: -20px;
    text-align: center;
    font-size: 12px;
    color: rgb(108, 105, 105);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skill_image {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.skill_image:hover {
    cursor: pointer;
}

.skills_hr {
    width: 2%;
}

#bar {
    width: 30px;
    height: 30px;
    background: url('../assets/icon-bar.png');
    border: none;
    margin-top: -70px;
    visibility: hidden;
    margin-right: 50px;
}

.bar_item {
    visibility: hidden;
    margin-top: 20px;
    display: grid;
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
    height: 25px;
    border: none;
    background: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bar_item:hover {
    cursor: pointer;
}

#bar:hover {
    cursor: pointer;
}

@media only screen and (max-width: 750px) {

    #about, #contact {
        visibility: hidden;
    }

    #bar {
        visibility: visible;
        margin-top: -60px;
    }

    .nav_title {
        margin-left: 50px;
    }

    #white_switch, #black_switch {
        position: fixed;
        margin-top: 30px;
        margin-left: 90px;
    }

    #github {
        margin-left: 70px;
        margin-top: -300px;
    }
}

@media only screen and (max-width: 320px) {
    .nav_title {
        margin-left: -5px;
    }

    #github {
        margin-left: 10px;
        margin-top: -15px;
    }

    #bar {
        margin-right: 35px;
        margin-top: -90px;
    }

    #white_switch, #black_switch {
        position: fixed;
        margin-top: 45px;
        margin-left: 45px;
    }
}

@media only screen and (max-width: 360px) {

    .nav_title {
        margin-left: 5px;
    }

    #github {
        margin-left: 20px;
        margin-top: -15px;
    }

    #bar {
        margin-right: 35px;
        margin-top: -62px;
    }

    #white_switch, #black_switch {
        position: fixed;
        margin-top: 45px;
        margin-left: 40px;
    }
}